*{
    font-family: Arial, Helvetica, sans-serif;
    
}
.body{
    text-align: center;
    background:linear-gradient(90deg, rgb(221, 239, 253),rgb(228, 236, 243),rgb(221, 239, 253));
    margin-top: -70px;
    padding: 0%;
    padding-top: 100px;
    
}
.prithika{
    border-radius: 50%;
    height: 380px;
    width: 370px;
    margin-top: 30px;
    margin-bottom: 50px;
}
h1{
    padding-top:50px ;
    font-size: 70px;
    margin-top: 70px;
    color: rgb(80, 80, 253);
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-top: 30px;
    color: rgb(80, 80, 253);
    margin-right: 150px;
    margin-left: 150px;
    font-size: 20px;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name{
    color: rgb(80, 80, 253);;
}